<div class="food_menu menu_<%= menu_section.id %>" style="display: none;">
<div>
	<div style="margin-left:13px; margin-top:10px;">
		<span class="food_menu_head">Menu</span>
	</div>
  <div style="text-align: center;">
    <span class="category-name"><%= menu_section.name %></span>
  </div>

	<table class="food_list" width="100%">
		<% count = 0 %>
		<% 
		menu_section.menu_items.each do |food|
			table_class = "row_2"
			table_class = "row_1" if count % 2 == 0
		%>
		  <tr class="<%=table_class%>">
		    <td align="left" width="100%" class="<%=table_class%>">
		    	<%= link_to_function food.name, "show_menu_item(#{food.id})", :title => food.desc %>
          <div class="blue_text">
            <span class="p"><%=number_to_currency food.price %></span>
          </div>
        </td>
		  </tr>
		<% 
			count += 1
		end 
		%>
	</table>
</div>
</div>
