<script type="text/javascript">
	var add_favorite = function(rest_id){
			$.ajax({
			type: 'POST',
			url: '/restaurants/add_favorite',
			data: 'restaurant_id='+rest_id,
			success: function(response){
				$("#show_fav").hide();				
				$("#show_no_fav").show();				
			},
			});
			return false;
	}
	var remove_favorite = function(rest_id){
			$.ajax({
			type: 'POST',
			url: '/restaurants/remove_favorite',
			data: 'restaurant_id='+rest_id,
			success: function(response){
				$("#show_no_fav").hide();				
				$("#show_fav").show();				
			},
			});
			return false;
	}
</script>
<span class="category-head">Categories</span>
<div class="clearfix">
	<div style="width: auto; margin:0 5px;">
		<% if @restaurant.specials.size > 0 and combo.nil? -%>
			<div class="section_title specials_title"><a href="#specials">Specials</a></div>
		<% end -%>
		
		<% if @restaurant.combos.size > 0 and combo.nil? -%>
			<div class="section_title combos_title"><a href="#combos">Combinations</a></div>
		<% end -%>
		
		<% if @restaurant.menu_sections.size > 0 %>
			<% @restaurant.menu_sections.each do |menu_section| %>
				<% unless menu_section.nil? %>
				<%# next if combo.nil? and menu_section.only_for_combos? %>
				<%# next unless combo.nil? or combo.combo_menu_sections.collect {|c| c.menu_section}.include?(menu_section) %>
					<div class="section_title">
						<a href="#" onclick="display_menu('<%= menu_section.id %>');"><%= menu_section.name %></a>
					</div>
				<% end -%>
			<% end -%>
		<% end -%>
		<div style="width: 100px;margin: 20px 10px;height: 50px;">
      <div style="float:left;width:36px;">
        <a href="http://maps.google.com/?q=<%=@restaurant.address_string-%>" style="font-size: 0.95em;" target="_blank"><%= image_tag "Google_Maps_Marker.png" %></a>
      </div>
      <div style="float: left;width:64px">
        <a href="http://maps.google.com/?q=<%=@restaurant.address_string-%>" style="font-size: 0.95em;" target="_blank">View on GoogleMaps</a>
      </div>
		</div>
		<div id="save_favorite" class="save-fav">
				<div id="show_fav" <%= "style='display:none;'" if FavouriteRestaurant.favorite?(@restaurant.id, current_user.id)%>>
				<%= link_to "Add to Fav","#" , :onclick => "add_favorite('#{@restaurant.id}');return false;", :style => "text-decoration: underline;"%>
				</div>
				<div id="show_no_fav" <%= "style='display:none;'" unless FavouriteRestaurant.favorite?(@restaurant.id, current_user.id)%> >
				<%= link_to "Remove from Fav", "#",:onclick => "remove_favorite('#{@restaurant.id}');return false;" %>
				</div>
		</div>
		
	</div>
	
	<div id="star-ratings-block">
	    <%#= render :partial => "ratings/rating", :locals => { :restaurant => @restaurant } %>
	</div>
	
	
	
</div>
