<div class="food_menu menu_<%= menu_section.id %>" style="display: none;">

<div>
	
	<div style="text-align:center">
	<%#= image_tag url_for_file_column(menu_section, "filename") if menu_section.filename  %>
		<span class="food_menu_head"><%= menu_section.name %></span>
		<input class="inputsubmit" order_button" onclick="display_menu(<%= menu_section.id %>);" value="Back to Menu" type="button" style="float: right;" />
			
		<%# if menu_section.notes %>
		<div class="section_note"><%#=menu_section.notes%></div>
		<%# end -%>
	</div>
	
	<table class="food_list" width="100%">
		<% count = 0 %>
		<% 
		menu_section.menu_items.each do |food|
			table_class = "row_2"
			table_class = "row_1" if count % 2 == 0
		%>
		  <tr class="<%=table_class%>">
		    <td align="left" width="100%" class="<%=table_class%>">
					
		    	<%= link_to_function food.name, "show_menu_item(#{food.id})" %>

					<% unless food.desc.nil? %>
						<div class="section_note"><%= truncate food.desc, :length => 50 %></div>
					<% end %>
				<div class="blue_text">
					<span class="p"><%=number_to_currency food.price %></span>
				</div>
			
			</td>
			<%# end %>
		  </tr>
		<% 
			count += 1
		end 
		%>
	</table>
</div>
</div>
