<script type="text/javascript">
	$(function(){
		$('.section_title').first().children().first().trigger('click');
	});
</script>
<% @notice = flash[:notice] %>

	<div style="margin-bottom:15px;">
	<div id="artwork" style="float:left">
		<h1 class="blue_rest_title" id="link_title" style="margin-left:15px;cursor:pointer;"><%= @restaurant.name %></h1>	
</div>
	<div>

<div style="clear:both">

	<div style="border:1px solid #cccccc; float:left;">

	<!--<div class="left-column" style="height:100%"></div>-->
	
	<div class="center-column">

		<div style="position:relative">
		<% unless @restaurant.open? %>
			<div style="margin-bottom:10px">
				<h1 class="red_text big_title" align="center"><%= @restaurant.name %></h1>
				( <a href="http://maps.google.com/?q=<%=@restaurant.address_string-%>" style="font-size: 0.75em;" target="_blank">View on Google</a> )
			</div>
		<% end %>
		<div>	
		<div class="left" style="margin-left:10px;">
			<%= image_tag @restaurant.image, :width => "200px"%>
<div style="margin-left:5px;"><a href="javascript:void(0)" onclick="$('#restaurant_info').toggle()">Restaurant Info</a></div>
		</div>
		<div class="right">
	<div style=="style="float:right;margin-right:10px;" id="cart_wrapper">
	<div id="cart" class="right-column">
		<%= render :partial => "cartify/show" %>
		
		<% unless @restaurant.delivery_note.nil? or @restaurant.delivery_note.empty? -%>
			<div class="delivery_note"><b>Delivery note:</b> <%=h @restaurant.delivery_note %></div>
		<% end -%>
	</div>
	</div>
</div>
		<div class="clearfix"></div>
			<div id="restaurant_info">
				<div style="position:relative">
				<div style="position:absolute; top:0; right:0; z-index:2"><a href="javascript:void(0)" onclick="$('#restaurant_info').toggle();">close</a></div>
				<div class="time_wrapper">
					<% unless @restaurant.phone_number.nil? or @restaurant.phone_number.blank? %>
					<div><b>Phone number</b>: <%= @restaurant.phone_number %></div>
					<% end %>
					<% unless @restaurant.fax_number.nil? or @restaurant.fax_number.blank? %>
					<div><b>Fax number</b>: <%= @restaurant.fax_number %></div>
					<% end %>
				</div>
				
				<div class="time_wrapper">
					<b>Restaurant hours:</b> 
					<br/>
					<div><%= @restaurant.open_times_string.html_safe %></div>	
				</div>
				<% if @restaurant.can_deliver? %>
				<div class="time_wrapper">
					<b>Delivery hours:</b>
					<div><%= @restaurant.delivery_times_string %></div>
				</div>
				<% end %>
				</div>
			</div>
		</div>	
		<div>
			<div style="width:30%;float:left;"id="menu_categories">
				<%= render :partial => 'menu_sections' %>
			</div>
			<div style="float:right;width:70%;">
			<% @restaurant.menu_sections.each do |menu_section| %>
				<%# next if menu_section.only_for_combos? %>
				<%# if @combo.nil? or @combo.combo_menu_sections.collect{|c| c.menu_section}.include?(menu_section) %>
					<%= render :partial => 'menu_content', :locals => {:menu_section => menu_section} %>
				<%# end %>
			<% end %>

			</div>

		</div>
		
		
		</div>
		
		
		
		<br>
		
		

	</div>
		
	
	<div class="clear_fix"></div>
	</div>
	
	
	
	
	
	



</div>
			<div class="clearfix">
		<%= render :partial => "cartify/checkout_dialog" %>
			<% @restaurant.menu_sections.each_with_index do |menu_section, index| %>
					<% menu_section.menu_items.each do |item| -%>
							<%= render :partial => 'menu_sections/food_dialog', :locals => {:restaurant => @restaurant, :food => item} %>
				<% end -%>
			<% end %>
			</div>
