<script type="text/javascript">
	$(function(){
		$('.section_title').first().children().first().trigger('click');
	});
</script>
<% @notice = flash[:notice] %>
<div id="artwork" style="float:left">
  <h1 class="blue_rest_title" id="link_title" style="margin-left:15px;cursor:pointer;"><%= @restaurant.name %></h1>	
</div>

<div id="main_contents">
  <div class="clear"></div>
  <div class="menu-section">
    <div id="left-menu" class="left-part">
      <div id="category-list" class="menu-left">
        <%= render :partial => 'menu_sections' %>
      </div>
      <div id="item-list" class="menu-right">
        <%= render :partial => 'menu_content', :locals => {:menu_section => @restaurant.menu_sections.first} %>
      </div>
    </div>
    <div id="right-cart" class="right-part">
      <div id="cart_wrapper">
        <div id="cart">
          <%= render :partial => "cartify/show" %>
          <% unless @restaurant.delivery_note.nil? or @restaurant.delivery_note.empty? -%>
            <div class="delivery_note"><b>Delivery note:</b> <%=h @restaurant.delivery_note %></div>
          <% end -%>
        </div>
      </div>
    </div>
  </div>
  <%# code for order dialogs rendering %>
  <div id="order-dialogues" class="clearfix">
    <%= render :partial => "cartify/checkout_dialog" %>
    <% @restaurant.menu_sections.each_with_index do |menu_section, index| %>
      <% menu_section.menu_items.each do |item| -%>
        <%= render :partial => 'menu_sections/food_dialog', :locals => {:restaurant => @restaurant, :food => item} %>
      <% end -%>
    <% end %>
  </div>
</div>
