<div style="display:none" class="generic_dialog pop_dialog" id="food_dialog_<%= food.id %>">
	<div style="top: 0px;" id="generic_dialog_popup">
		<table id="pop_dialog_table" class="pop_dialog_table">
			<tbody>
				<tr>
					<td class="pop_topleft"></td>

					<td class="pop_border"></td>

					<td class="pop_topright"></td>
				</tr>

				<tr>
					<td class="pop_border"></td>

					<td class="pop_content" id="pop_content">
						<h2><span>Add <%=h food.name %>?</span></h2>

						<div class="dialog_content">
							<%= form_tag :controller => 'ordered_foods', :action => 'create', :id => "food_dialog_form_#{food.id}" %>
								<div class="dialog_body">
								<div class="left">
								
									<% unless food.desc.blank? %>
										<p><span class="description"><%= food.desc.capitalize %></span></p>
									<% end -%>
									<%# if food.food_types.count > 0 %>
										<p>
											<div><b>Select one:</b></div>
										<%# food.food_types.each do |food_type| -%>
											<div><%#= radio_button_tag :food_type, food_type.id, food_type == food.food_types.first%> <%#= food_type.name %></div>
										<%# end -%>
										</p>
									<%# end %>
									
									<% unless food.children.empty? %>
										<p>
										<div class="included_toppings"><b>Included Options: <br /></b>
											<%# puts '+++++++++++++' + food.children.inspect + '+++++++++++++++++' %>

											<% food.children.each do |option| %>
												<%= check_box_tag option.id, 1, false, :class => 'item_options' %> <%= option.name.capitalize %>
												<% unless option.children.empty? %>
													<div id="child_opts_<%= option.id %>" style="margin-left: 15px; display: none;">
													<%= hidden_field_tag "option_used", "nil" %>
													<% option.children.each do |child| %>
														<%= radio_button_tag option.name, 1, false, {:option_name => child.name, :class => "sub_option", :price => child.price, :id => child.id} %>
														<%= label_tag option.name, (child.name.nil?) ? "" :child.name.capitalize + ' ($' + child.price + ')' %>
														<br />
													<% end %>
													</div>
												<% end %>
												<br />
											<% end %>
										</div>
										</p>
									<% end -%>
									
									<%# if food.toppable? -%>
									<p>
										<%#= link_to_function "Add Toppings", "$('toppings_#{food.id}').toggle();" %>
										<div id="toppings_<%=food.id %>" style="display: none" >
											<%# if !food.max_free_toppings.nil? and food.max_free_toppings > 0 -%>
												You may select up to <%#= food.max_free_toppings %> toppings for free
											<%# end -%>
											<div class="toppings_list clearfix">
											<%# if food.food_toppings.nil? or food.food_toppings.count == 0 %>
												<%# restaurant.available_toppings.each do |att| -%>
													<div><label><%#= check_box_tag('available_topping_ids[]', att.id) %> <%#=h att.topping.name %> (<span class="price"><%#= number_to_currency att.price %></span>)</label></div>
												<%# end -%>
											<%# end %>
		
											<%# food.food_toppings.each do |att| -%>
												<div><label><%#= check_box_tag('food_topping_ids[]', att.id) %> <%#=h att.topping.name %> 
													(<span class="price"><%#= number_to_currency att.price %></span>)</label></div>
											<%# end -%>
											
											</div>
										</div>
									</p>
									<%# end -%>
									<p>
									<%# if food.sizes.count > 0 -%>
										<%# food.sizes.each do |size| -%>
											<div class="clearfix">
											<label><%#= radio_button_tag('size_id', size.id, size == food.sizes.first) %> <%#=h size.name %> <span class="price"><%#=number_to_currency size.price %></span></label>
											</div>
										<%# end -%>
									<%# else -%>
										<b>Price: 
										<%= text_field_tag("total_price", food.price, {:disabled => true, :id => "total_price", :class => 'nactive'}) %></b>
									<%# end -%>
									</p>

								</div>
								
								<div class="right" style="padding-right:10px; padding-top:20px">
								
								<%= text_field_tag :count, 1, :size => 2 %>
								</div>
								
								<div class="clearfix">&nbsp;</div>
								<p>
									<div><b>Special instructions</b></div>
									<div><%= text_area_tag :special_instructions, nil, {:size => "50x5"} %></div>
								</p>
								</div>
								
								<div class="dialog_buttons">
									<%= hidden_field_tag :food_id, food.id %>
									<input type="button" value="Add to Cart" class="inputsubmit" onclick="cart_add(<%= "#{food.id}, '#{food.name}', #{food.price}" %>);"/>
									<input class="inputsubmit" value="Cancel" onclick="hide_food_dialog('food_dialog_<%= food.id %>');" type="button">
								</div>
							</form>
						</div>
					</td>

					<td class="pop_border"></td>
				</tr>

				<tr>
					<td class="pop_bottomleft"></td>

					<td class="pop_border"></td>

					<td class="pop_bottomright"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
