<div id="card_info" style="display: none; width: 350px; left: 200px; position: absolute; top: 125px;">
<script>
	$(function() {
		$( "#date" ).datetimepicker( { ampm : true });
	});
</script>
<table id="pop_dialog_table" class="pop_dialog_table" style="width: 350px;">
<tbody>
	<tr>
		<td class="pop_topleft"></td>

		<td class="pop_border"></td>

		<td class="pop_topright"></td>
	</tr>

	<tr>
		<td class="pop_border"></td>

		<td class="pop_content" id="pop_content">
			<h2><span>Please Enter Your Payment Info</span></h2>

			<div class="dialog_content">
				<form id="form_card_info" action="" onsubmit="return place_order();">
					<div id="dialog_notice" style="text-align:center;padding-top:5px;"></div>
					<div class="dialog_body" style="height: 120px; padding: 25px;">
					<div class="left">
						<span style="color: #3B5998; font-size: 1.15em; display: none; float: left; width: 270px;" id="ploader">Please wait....</span>
						<%= label_tag 'name', 'Card Name', :class => 'checkout' %> <%= text_field_tag 'name', nil, :class => 'checkout' %><br />
						<%= label_tag 'cardno', 'Card No', :class => 'checkout' %> <%= text_field_tag 'number', '4111111111111111', :class => 'checkout' %><br />
						<%= label_tag 'cvv', 'CVV', :class => 'checkout' %> <%= text_field_tag 'cvv', nil, :class => 'checkout' %><br />
						<%= label_tag 'Expiration', 'Expiration', :class => 'checkout' %> <%= text_field_tag 'expiry', nil, :class => 'checkout' %><br />
						<%= label_tag 'date', 'Delivery Date & Time', :class => 'checkout' %> <%= text_field_tag 'date', nil, :class => 'checkout' %>
					</div>
					</div>
					<div class="dialog_buttons">
						<input class="inputsubmit" id="checkout_avail" style="padding: 5px 12px 6px;" value="Check Availability" type="button" onclick="check_delivery();" />
						<input class="inputsubmit" id="checkout_cancel" style="padding: 5px 12px 6px;" value="Cancel" onclick="$('#card_info').hide();" type="button"  />
						<input class="inputsubmit" id="placeorder_button" style="padding: 5px 12px 6px;" disabled = "disabled" value="Order" onclick="place_order();" type="button"  />
					</div>
				</form>
			</div>

		</td>

		<td class="pop_border"></td>
	</tr>

	<tr>
		<td class="pop_bottomleft"></td>

		<td class="pop_border"></td>

		<td class="pop_bottomright"></td>
	</tr>
</tbody>
</table>

</div>
