
<div align="center"><img src="/images/burger.png" width="250" /></div>

<div class="blue_header clr" style="font-size:25px; color:#fff; margin-top:50px;">
	<div class="left">Where are you?</div>
	<div class="right"><a href="javascript:void(0)" onclick="switchLocationBox();" id="locationLink">Add Another Location</a></div>
	<div class="clr_fix">&nbsp;</div>
</div>

<div class="notification"><%= flash[:notice] -%></div>

<% content_for :error do -%>
	<%= error_messages_for :location %>
<% end -%>

<div style="padding:15px;" class="light-gray">
	<div id="new_location" class="clr">
	
		<% form_for(@location, :url => location_path) do |f| -%>
			<%# hidden_field_tag :redirect_to, params[:redirect_to] %>
			
			
			<table width="100%" cellpadding="0" cellspacing="0">
			
				<tr>
					<td width="60%" style="padding-top:20px;">
						<div class="clr">
							<div class="left" style="margin-right:30px;">
								<dt class="blue_text">Enter Street Address</dt>
								<div><%= f.text_field :street, :size => 50, :class => 'inputtext' %></div>
							</div>
							
						</div>
					</td>
					<td width="40%"  style="padding-top:20px" valign="middle">
						<div class="left">
								<div class="blue_text">
									<%= check_box :location , :is_home_address , options = {} ,checked_value = "1", unchecked_value = "0" %> Save as Home Address
								</div>
						</div>
						
					</td>
				</tr>
				
				<tr>
					<td style="padding-top:20px;">
						<div class="clr">
							<div class="left" style="margin-right:30px;">
								<dt class="blue_text">Apt/Suite</dt>
								<div><%= f.text_field :apt, :size => 20, :class => 'inputtext' %></div>
							</div>
							<div class="left">
								<dt class="blue_text">Zip Code</dt>
								<div><%= f.text_field :zip, :size => 20, :class => 'inputtext' %></div>
							</div>
						
						</div>
					</td>
						
					<td  style="padding-top:20px" valign="bottom">
						<div class="submit">
							<%= submit_tag "Delivery", :class => 'inputsubmit', :mode => 'd' %>&nbsp;&nbsp;&nbsp;
							<%= submit_tag "Pick Up", :class => 'inputsubmit', :mode => 'p' %>
						</div>
					</td>
				</tr>
			</table>
		
		<% end -%>
	</div>
	<% if @user_locations != nil and  @user_locations.count > 0%>
	<div id="saved_locations" class="blue_text"  style="display:none;">
			<% form_tag('/locations/set') do -%>
				<div style="margin:0 auto;" align="center">
					<b>Select a saved location</b><br><br>
					<%= select_tag(:saved_location, "<option value='0'>Recent Locations</option>" + options_from_collection_for_select(@user_locations, :id, :street, @selected_id), :style => "width:150px;") %>
				</div>
				<br><br>
				<div class="submit" style="margin:0 auto;" align="center">
					<%= submit_tag "Delivery", :class => 'inputsubmit', :mode => 'd' %>&nbsp;&nbsp;&nbsp;
					<%= submit_tag "Pick Up", :class => 'inputsubmit', :mode => 'p' %>
				</div>
		<% end %>
	</div>
	<% end %>
</div>
<p>&nbsp;</p>
		<p>&nbsp;</p>