<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01//EN">
<html>
  <head>
    <title></title>
    <%= javascript_include_tag :defaults %>
    <%= active_scaffold_includes %>
	  <%= stylesheet_link_tag 'admin' %>    
  </head>
  <body>
    <div id="masthead"><h1>Food Court Admin</h1></div>

    <div id="menu">
      <ul>
        <li><%= link_to 'Cuisines', admin_cuisines_path %></li>
        <li><%= link_to 'Restaurants', admin_restaurants_path %></li>        
        <li><%= link_to 'Toppings', admin_toppings_path %></li>
        <li><%= link_to 'Users', admin_users_path %></li>
        <li><%= link_to 'Feedback', admin_feedbacks_path %></li>
        <li><%= link_to 'Restaurant Suggestions', admin_restaurant_suggestions_path %></li>
        <li><%= link_to 'Completed Orders', admin_completed_orders_path %></li>  
        <li><%= link_to 'Card Types', admin_cards_path %></li>   
				<li><%= link_to 'Advertisers', admin_advertisers_path %></li>   	
				<li><%= link_to 'Faqs', admin_faqs_path %></li>   	     
      </ul>
    </div>
    <div id="contents">
      <%= yield %>
    </div>    
    
    <div id="current_time" style="font-size: smaller;">Server Time: <%= Time.zone.now.to_s %></p>
  </body>
</html>
