<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
       "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en" style="overflow:hidden;">
<head>
<%= csrf_meta_tag %>
  <meta http-equiv="content-type" content="text/html;charset=UTF-8" />
  <title>Restaurants: <%= controller.action_name %></title>
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
	<script type="text/javascript" src="http://maps.google.com/maps/api/js?sensor=false"></script>


  <%= stylesheet_link_tag 'new' %>
  <%= stylesheet_link_tag 'facebook_style' %>
  <%= stylesheet_link_tag 'ratings' %>
  <%= stylesheet_link_tag 'dialog' %>
  <%= stylesheet_link_tag 'cart' %>
  <%= stylesheet_link_tag 'jquery-ui-1.8.16.custom.css' %>

  <%#= javascript_include_tag :defaults %>
  <%= javascript_include_tag 'jquery-1.6.2.min', 'menus', 'cartify', 'mustache', 'jQueryMustache', 'jquery.color' %>
  <%= javascript_include_tag 'jquery-ui-1.8.16.custom.min' %>
  <%#= javascript_include_tag 'jquery-ui-timepicker-addon' %>
	<%# fb_connect_javascript_tag %>
	<%# init_fb_connect "XFBML" %>
	
	<% if params[:controller] == 'locations' %>
	<script type="text/javascript">
	

/*		function switchLocationBox() {
			
			if(!$('new_location')) return;
			if(!$('saved_locations')) {
				$('new_location').show(); 
				$('locationLink').hide();
				return;	
			}
			
			if($('new_location').visible()) {
				$('new_location').hide(); 
				$('saved_locations').show();
				$('locationLink').innerHTML = "Add Another Location";
			} else {
				$('new_location').show(); 
				$('saved_locations').hide();
				$('locationLink').innerHTML = "Saved Locations";
			}
		}
		
		Event.observe(window, 'load', function() {
				if($('restaurant_info')) $('restaurant_info').hide();
  			switchLocationBox();
		}); */
		
	</script>
	<% end %>

	
	<% if params[:controller] == 'restaurants' && params[:action] == 'show' %>
	<%#= GMap.header %>
    <%#= @map.to_html %>
    <% end %>

</head>
<body style="overflow:hidden;">

	<%#= fb_connect_async_js %>
	<div id="fb-root"></div>
	<script src="http://connect.facebook.net/en_US/all.js"></script>
	<script>
	FB.init({
	appId  : '238876726163777',
	status : true, // check login status
	cookie : true, // enable cookies to allow the server to access the session
	xfbml  : true, // parse XFBML
	oauth  : true // enable OAuth 2.0
	});
	FB.Canvas.setAutoResize();
	</script>

	<%# <script type="text/javascript">FB.login(function(res){console.log(res);},{scope: 'email'});</script> %>

<div id="header">
	<div id="logo">
		<%= link_to "", "/location/new" %>
</div>

	<div class="links">
		<%= link_to "FeedMe Home", "/location/new" %>&nbsp;&nbsp;|&nbsp;&nbsp;
		<%= link_to "Contact Us", :controller => :feedbacks, :action => :new %>
	</div>
	
</div>

<% if session[:current_location] %>
<div id="top_menu">
<div class="second_links">
<ul class="main_set">
<li><%= link_to_unless_current('Search Results', :controller => "restaurants", :action => "index" ) {|link| content_tag 'span', link, :class => 'current'} %></li>
<li><%= link_to_unless_current('Favorite Restaurants', :controller => "restaurants", :action => "favorites" ) {|link| content_tag 'span', link, :class => 'current'} %></li>
<li><%# link_to_unless_current('Suggest New Restaurant', new_restaurant_suggestion_url ) {|link| content_tag 'span', link, :class => 'current'} %></li>
<li><%= link_to_function 'Invite Friends!', 
   "FB.init({
	appId  : '238876726163777',
	status : true, // check login status
	cookie : true, // enable cookies to allow the server to access the session
	xfbml  : true, // parse XFBML
	});
	FB.ui({method: 'apprequests',
		message: 'Your request message will be displayed here.',
	});
	" %>
</li>
<li>
	<%# link_to 'My Favorites', :controller => 'restaurants', :action => 'favorites' %>
</li>
</ul>
</div>
</div>
<% end %>

<div id="page_content">
	<% if notice = flash[:notice] -%>
		<div class="status">
		  <span id="status_title"><%= notice %></span>
		</div>
	<% end -%>
	<% error_content = yield :error 
		unless error_content.blank? -%>
		<div id="error">
			<%= error_content %>
		</div>
	<% end %>
<%= yield %>
</div>

<div id="footer">
<div class="footer_content">
<div id="footer_clear">
<div class="first"><%= link_to "about us", "/about/" %></div>
<div><%= link_to "contact us", :controller => :feedbacks, :action => :new %></div>
<div><%= link_to "faq", :controller => :about, :action => :faqs%></div>
<div><%= link_to "restaurant owners", :controller => :about, :action => :restaurant_owners%></div>
<div><%= link_to "advertisers", :controller => :about, :action => :advertisers%></div>
<div class="last"><%= link_to "terms and conditions", :controller => :about, :action => :terms %></div>
</div>
</div>
</div>

</body>
<script type="text/javascript">
	$.ajaxSetup({
		beforeSend: function(xhr) {
			xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
		}
	}); 
</script>
</html>
